<form action="logan">
  <p>
    I would like <input name="paragraphs" type="number" class="small-number"> paragraphs of Logan, <select name="type">
      <option value="basic">basic af</option>
    </select>.
  </p>
  <input type="submit" value="For Kryta!">
</form>
