<HTML>
  <HEAD>
    <TITLE>Logan Ipsum</TITLE>
    <link rel="stylesheet" href="css/style.css" type="text/css">
  </HEAD>
  <BODY>
    <div id="content">
      <%= ipsum %>
    </div>
  </BODY>
</HTML>

