<HTML>
  <HEAD>
    <TITLE>Logan Ipsum<%= title ? " - #{title}" : '' %></TITLE>
    <link rel="stylesheet" href="css/style.css" type="text/css">
  </HEAD>
  <BODY>
    <div id="content">
      <%= yield %>
    </div>
  </BODY>
</HTML>

